.content {
    text-align: center;
    background-color: white;
  }

  .btn-start {
    background: greenyellow;
    border-radius: 50%;
    color: #ffffff;
    border: 0;
    padding: 42px 20px;
    font-size: 1em;
    margin-top: 2em;

  }
  
  .btn-stop {
    background: red;
    border-radius: 50%;
    color: #ffffff;
    border: 0;
    padding: 42px 20px;
    font-size: 1em;
    margin-top: 2em;
  }

  @media (min-width: 768px) {
   

    .content {
      flex: 1;
      padding: 0 4em;
      margin: 0;
    }

  }